<!DOCTYPE html>
<html>
<head>
    <title>AI Movie Review Analyzer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <div class="title-container">
            <h1 class="main-title">AI Movie Review</h1>
            <h2 class="sub-title">Analyzer</h2>
        </div>

        <textarea id="review" placeholder="Enter your movie review here..."></textarea>

        <br>

        <button onclick="predict()" class="analyze-btn">Analyze Sentiment</button>
        <button onclick="clearText()" class="clear-btn">Clear</button>

        <div id="loader" class="loader"></div>

        <h2 id="result"></h2>

        <div class="bar-container">
            <div id="confidence-bar"></div>
        </div>

    </div>

    <script src="/static/script.js"></script>

</body>
</html>